1| #include <behaviors.dtsi>
2| #include <dt-bindings/zmk/keys.h>
3| #include <dt-bindings/zmk/bt.h>
4| 
5| / {
6|     keymap {
7|         compatible = "zmk,keymap";
8| 
9|         default_layer {
10|             bindings = <
11|                 &kp Q &kp W &kp E &kp R &kp T &kp Y
12|                 &kp A &kp S &kp D &kp F &kp G &kp H
13|                 &mo 1 &kp Z &kp X &kp C &kp V &kp B
14|             >;
15|         };
16| 
17|         bt_layer {
18|             bindings = <
19|                 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5
20|                 &bt BT_CLR   &bt BT_CLR   &bt BT_CLR   &trans       &trans       &trans
21|                 &trans       &trans       &trans       &trans       &trans       &trans
22|             >;
23|         };
24|     };
25| };